**Popularity-based recommender system based on the iMdb formula for rating movies.**

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("C:/Users/prtyagi/Desktop/New folder/archive1/movies_metadata.csv")
df.head()

C:\Users\prtyagi\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,FALSE,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,10/30/1995,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,FALSE,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,12/15/1995,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,FALSE,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,12/22/1995,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,FALSE,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,12/22/1995,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,FALSE,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,2/10/1995,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [3]:
df.iloc[0]

adult                                                                FALSE
belongs_to_collection    {'id': 10194, 'name': 'Toy Story Collection', ...
budget                                                            30000000
genres                   [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
homepage                              http://toystory.disney.com/toy-story
id                                                                     862
imdb_id                                                          tt0114709
original_language                                                       en
original_title                                                   Toy Story
overview                 Led by Woody, Andy's toys live happily in his ...
popularity                                                         21.9469
poster_path                               /rhIRbceoE9lR4veEXuwCC2wARtG.jpg
production_companies        [{'name': 'Pixar Animation Studios', 'id': 3}]
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    10/30/1995
revenue                                                        3.73554e+08
runtime                                                                 81
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                                                                NaN
title                                                            Toy Story
video                                                                False
vote_average                                                           7.7
vote_count                                                            5415
Name: 0, dtype: object

In [4]:
m = df['vote_count'].quantile(0.9) # min number of votes to qualify as recommended movie.
C = df['vote_average'].mean()      # average voting in iMdb

In [5]:
print(m) , print(C)

160.0
5.618207215133889

(None, None)

*Applying the iMdb formula to rate the movies or the recommendation value based on popular votes.*

In [6]:
def weighted(x , m=m , C=C):
    v = x['vote_count']
    R = x['vote_average']
    
    return (v/(v+m))*R + (m/(v+m))*C

In [7]:
apply_filter = df.loc[df['vote_count'] >=m]

In [8]:
df.shape , apply_filter.shape

((45466, 24), (4555, 24))

In [9]:
apply_filter['score'] = apply_filter.apply(weighted , axis=1)

<ipython-input-9-a959c05d071d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  apply_filter['score'] = apply_filter.apply(weighted , axis=1)

In [10]:
apply_filter = apply_filter.sort_values('score' , ascending=False)

In [11]:
apply_filter[['title' , 'vote_count' , 'vote_average' , 'score']].head(10)

                             title  vote_count  vote_average     score
314       The Shawshank Redemption      8358.0           8.5  8.445869
834                  The Godfather      6024.0           8.5  8.425439
10309  Dilwale Dulhania Le Jayenge       661.0           9.1  8.421453
12481              The Dark Knight     12269.0           8.3  8.265477
2843                    Fight Club      9678.0           8.3  8.256385
292                   Pulp Fiction      8670.0           8.3  8.251406
522               Schindler's List      4436.0           8.3  8.206639
23673                     Whiplash      4376.0           8.3  8.205404
5481                 Spirited Away      3968.0           8.3  8.196055
2211             Life Is Beautiful      3643.0           8.3  8.187171

In [12]:
apply_filter[['title' , 'vote_count' , 'vote_average' , 'score']].tail()

                      title  vote_count  vote_average     score
9710        Son of the Mask       346.0           3.6  4.238168
12911        Disaster Movie       250.0           3.1  4.082715
3471      Battlefield Earth       259.0           3.0  3.999793
11557            Epic Movie       334.0           3.2  3.983225
13566  Dragonball Evolution       475.0           2.9  3.584903

In [13]:
import pickle
with open('metdata.pickle', 'rb') as handle:
    required_metadata = pickle.load(handle)

In [14]:
popularity_data = apply_filter.merge(required_metadata, on='title')

In [15]:
popularity_data

,adult_x,belongs_to_collection_x,budget_x,genres_x,homepage_x,id_x,imdb_id_x,original_language_x,original_title_x,overview_x,...,status_y,tagline_y,video_y,vote_average_y,vote_count_y,cast,crew,keywords,director,soup
0,FALSE,NaN,25000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,278,tt0111161,en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,...,Released,Fear can hold you prisoner. Hope can set you f...,False,8.5,8358.0,"[timrobbins, morganfreeman, bobgunton]","[{'credit_id': '52fe4231c3a36847f800b127', 'de...","[prison, corruption, policebrutality]",frankdarabont,prison corruption policebrutality timrobbins m...
1,FALSE,"{'id': 230, 'name': 'The Godfather Collection'...",6000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",http://www.thegodfather.com/,238,tt0068646,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",...,Released,An offer you can't refuse.,False,8.5,6024.0,"[marlonbrando, alpacino, jamescaan]","[{'credit_id': '52fe422bc3a36847f80093db', 'de...","[italy, loveatfirstsight, lossoffather]",francisfordcoppola,italy loveatfirstsight lossoffather marlonbran...
2,FALSE,NaN,13200000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,19404,tt0112870,hi,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",...,Released,Come... Fall In Love,False,9.1,661.0,"[shahrukhkhan, kajol, amrishpuri]","[{'credit_id': '57a3054a9251417c57000d7a', 'de...",[musical],adityachopra,musical shahrukhkhan kajol amrishpuri adityach...
3,FALSE,"{'id': 263, 'name': 'The Dark Knight Collectio...",185000000,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",http://thedarkknight.warnerbros.com/dvdsite/,155,tt0468569,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,...,Released,Why So Serious?,False,8.3,12269.0,"[christianbale, michaelcaine, heathledger]","[{'credit_id': '55a0eb4a925141296b0010f8', 'de...","[dccomics, crimefighter, secretidentity]",christophernolan,dccomics crimefighter secretidentity christian...
4,FALSE,"{'id': 263, 'name': 'The Dark Knight Collectio...",185000000,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",http://thedarkknight.warnerbros.com/dvdsite/,155,tt0468569,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,...,Released,NaN,False,6.3,2.0,"[kylewalsh, aaronfarb, debralopez]","[{'credit_id': '52fe4852c3a368484e0f2eed', 'de...",[],drewmaxwell,kylewalsh aaronfarb debralopez drewmaxwell ac...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5748,FALSE,"{'id': 43072, 'name': 'The Mask Collection', '...",84000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",NaN,10214,tt0362165,en,Son of the Mask,"Tim Avery, an aspiring cartoonist, finds himse...",...,Released,Who's next?,False,3.6,346.0,"[jamiekennedy, alancumming, traylorhoward]","[{'credit_id': '52fe43439251416c75009b91', 'de...","[baby, mask, viking]",lawrenceguterman,baby mask viking jamiekennedy alancumming tray...
5749,FALSE,NaN,25000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",http://www.disastermovie.net/,13805,tt1213644,en,Disaster Movie,"In DISASTER MOVIE, the filmmaking team behind ...",...,Released,Your favorite movies are going to be destroyed.,False,3.1,250.0,"[mattlanter, vanessalachey, nicoleariparker]","[{'credit_id': '52fe45a39251416c7505d4ab', 'de...","[naturaldisaster, violence, mortaldanger]",jasonfriedberg,naturaldisaster violence mortaldanger mattlant...
5750,FALSE,NaN,44000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",NaN,5491,tt0185183,en,Battlefield Earth,"In the year 3000, man is no match for the Psyc...",...,Released,Take Back The Planet,False,3.0,259.0,"[johntravolta, barrypepper, forestwhitaker]","[{'credit_id': '52fe4409c3a36847f807e759', 'de...","[basedonnovel, post-apocalyptic, dystopia]",rogerchristian,basedonnovel post-apocalyptic dystopia johntra...
5751,FALSE,NaN,20000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9760,tt0799949,en,Epic Movie,"When Edward, Peter, Lucy and Susan each follow...",...,Released,We know it's big. We measured.,False,3.2,334.0,"[kalpenn, adamcampbell, jennifercoolidge]","[{'credit_id': '56348a269251412857016e9e', 'de...",[],jasonfriedberg,kalpenn adamcampbell jennifercoolidge jasonfr...
5752,FALSE,NaN,100000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,14164,tt1098327,en,Dragonball Evolution,The young warrior Son Goku sets out on a quest...,...,Released,The legend comes to life.,False,2.9,475.0,"[chowyun-fat, justinchatwin, joonpark]","[{'credit_id': '52fe45d29251416c75063b05', 'de...","[karate, superhero, revenge]",jameswong,karate superhero revenge chowyun-fat justincha...

In [16]:
import pickle

with open("popularity_data.pickle", 'wb') as handle:
    pickle.dump(popularity_data, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [17]:
genres = {'Adventure': 0,
 'Animation': 1,
 'Children': 2,
 'Comedy': 3,
 'Fantasy': 4,
 'Romance': 5,
 'Drama': 6,
 'Action': 7,
 'Crime': 8,
 'Thriller': 9,
 'Horror': 10,
 'Mystery': 11,
 'Sci-Fi': 12,
 'War': 13,
 'Musical': 14,
 'Documentary': 15,
 'IMAX': 16,
 'Western': 17,
 'Film-Noir': 18,
 '(no genres listed)': 19}

In [18]:
def genre_based_popularity(genre):
    mask = apply_filter.genres.apply(lambda x: genre in x)
    filtered_movie = apply_filter[mask]
    filtered_movie = filtered_movie.sort_values(by='score', ascending=False)
    return filtered_movie

In [19]:
genre_based_popularity('Animation')[['title', 'score']].head(10)

                        title     score
5481            Spirited Away  8.196055
40251              Your Name.  8.112532
9698     Howl's Moving Castle  8.012998
2884        Princess Mononoke  8.012319
359             The Lion King  7.932907
30315              Inside Out  7.847066
5553   Grave of the Fireflies  7.835726
5833       My Neighbor Totoro  7.798367
13724                      Up  7.751570
12704                  WALLÂ·E  7.747100

In [20]:
def director_based_popularity(director):
    df = popularity_data[popularity_data['director']==director]
    filtered_movie = df.sort_values(by='score', ascending=False)
    return filtered_movie

director_based_popularity('christophernolan')[['title', 'score']].head(25)

                      title     score
3           The Dark Knight  8.265477
27                Inception  8.072105
28             Interstellar  8.065005
37                  Memento  8.008252
56             The Prestige  7.918397
169   The Dark Knight Rises  7.566350
231           Batman Begins  7.460750
305                 Dunkirk  7.395165
1470              Following  6.716086
1693               Insomnia  6.658996

In [21]:
import pickle

with open("apply_filter_data.pickle", 'wb') as handle:
    pickle.dump(apply_filter, handle, protocol=pickle.HIGHEST_PROTOCOL)